{% load static %} 
{% if status %}
<img
  src="{{ status.avatar }}"
  alt="{{ status.username }}"
  class="recent-image"
/>

<div class="recent-text">
  <a class="recent-link" href="{{ status.url }}" target="_blank">
    <div class="recent-author">
      {{ status.username }} · {{ status.created_at }}
    </div>
  </a>
  <div class="recent-description">{{ status.content }}</div>
</div>
{% else %}
<div class="png-container">
  <img
    src="{% static 'pages/images/song-default.png' %}"
    alt="Bluesky"
    class="recent-image"
  />
</div>
<div class="recent-text">
  <div class="recent-author">placeholder · ago</div>
  <div class="recent-description">something went wrong</div>
</div>
{% endif %}
