{% load static %}

{% if track %}
  {% if track.cover_url and "2a96cbd8b46e442fc41c2b86b821562f.png" not in track.cover_url %}
    <img
      src="{{ track.cover_url }}"
      alt="{{ track.name }} cover"
      class="recent-image"
    />
  {% else %}
    <div class="png-container">
      <img
        src="{% static 'pages/images/song-default.png' %}"
        alt="{{ track.name }} cover"
        class="recent-image"
      />
    </div>
  {% endif %}

  <div class="recent-text">
    <a class="recent-link" href="{{ track.url }}" target="_blank">
      <div class="recent-author">{{ track.artist }} · {{ track.time_ago }}</div>
    </a>
    <div class="recent-description">{{ track.name }}</div>
  </div>
{% else %}
  <div class="png-container">
    <img
      src="{% static 'pages/images/song-default.png' %}"
      alt="song cover"
      class="recent-image"
    />
  </div>
  <div class="recent-text">
    <div class="recent-author">there could be a song here</div>
    <div class="recent-description">well the song is not here for some reason</div>
  </div>
{% endif %}
